////////////////////////////////////////////////////////////////


@mixin nofloat{
	&:after{
		content:"";
		display:block;
		clear:both;
	}
}
@mixin incenter{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}

h1{
	text-align:center;
	font-weight:400;
}
//帮助中心左边公共区
.help-common{
	.left{
		a{
			.icon{
				background-image:url(../../../img/help-column.png);
			}
		}
		.l1{
			border-left-color:#ed5351;
			.icon{
				background-position:0 0;
			}
		}
		.l2{
			border-left-color:#f58464;
			.icon{
				background-position:0 -33px;
			}
		}
		.l3{
			border-left-color:#f58464;
			.icon{
				background-position:0 -66px;
			}
		}
		.l4{
			border-left-color:#21ba9b;
			.icon{
				background-position:0 -103px;
			}
		}
		.l5{
			border-left-color:#92a4a4;
			.icon{
				background-position:0 -139px;
			}
		}
		.l6{
			border-left-color:#23b0cb;
			.icon{
				background-position:0 -171px;
			}
		}
		.l7{
			border-left-color:#8e8fbd;
			.icon{
				background-position:0 -210px;
			}
		}
		.l8{
			border-left-color:#e6bf4f;
			.icon{
				background-position:0 -241px;
			}
		}
		.l9{
			border-left-color:#b89763;
			.icon{
				background-position:0 -278px;
			}
		}
		.l0{
			border-left-color:#ee6b97;
			border-bottom:1px solid #e8e8e8;
			.icon{
				background-position:0 -315px;
			}
		}
	}
}

//服务中心左边公共区
.service-common{
	.left{
		a{
			.icon{
				background-image:url(../../../img/service-icon.png);
			}
		}
		.l1{
			border-left-color:#ed5351;
			.icon{
				background-position:-2px 0;
			}
		}
		.l2{
			border-left-color:#f58464;
			.icon{
				background-position:0 -42px;
			}
		}
		.l3{
			border-left-color:#f58464;
			.icon{
				background-position:-3px -91px;
			}
		}
		.l4{
			border-left-color:#21ba9b;
			.icon{
				background-position:-2px -139px;
			}
		}
		.l5{
			border-left-color:#92a4a4;
			.icon{
				background-position:-2px -190px;
			}
		}
		.l6{
			border-left-color:#23b0cb;
			.icon{
				background-position:-2px -240px;
			}
		}
		.l7{
			border-left-color:#8e8fbd;
			.icon{
				background-position:-2px -291px;
			}
		}
		.l8{
			border-left-color:#e6bf4f;
			border-bottom:1px solid #e8e8e8;
			.icon{
				background-position:-2px -337px;
			}
		}
	}
}

// 帮助中心
#help-commonProblemsComment{
	.l2{
		a{
			color:#f58464;
			background:#f3f3f3;
		}
	}
	.form{
		li{
			height: 35px;
			line-height: 35px;
			padding-left:43px;
			position:relative;
			color:#444;
		}
		.even{
			border:1px solid #e8e8e8;
		}
		.point{
			width: 6px;
			height: 6px;
			position:absolute;
			top:14px;
			left: 25px;
			background:#1296db;
			border-radius:50%;
		}
		.time{
			float: right;
			line-height: 35px;
			padding-right:14px;
		}
	}
	.ys{
		margin-top: 50px;
	}
}
#help-commonMine{
	.zdbj{
		height: 439px;
		position:relative;
		.bg{
			background-image: url(../../../img/help-mine.png);
			background-position:0 -10px;
			width: 304px;
			height: 263px;
			position:absolute;
			top:60px;
			left: 130px;
		}
		.font{
			position: absolute;
			top: 145px;
			left: 382px;
			p{
				padding-bottom:8px;
			}
			a{
				color:#e2383a;
			}
		}
	}
}
#help-center{
	padding-top:80px;
	h1{
		padding:0;
		position:relative;
		font-size: 30px;
		line-height: 72px;
		color:#333;
		.line{
			width: 60px;
			height: 4px;
			background:#e2383a;
			position:absolute;
			bottom:0;
			left: 50%;
			margin-left: -30px;
		}
	}
	.problem{
		padding-top:50px;
		padding-left: 7px;
		overflow: hidden;
		@include nofloat;
		li{
			float:left;
			width: 101px;
			height: 150px;
			margin-left: 113px;
			position:relative;
			margin-bottom: 80px;
			cursor: pointer;
			.icon{
				width: 101px;
				height: 101px;
				background-image:url(../../../img/help-center.png);
				background-repeat:no-repeat;
			}
			.js{
				position:absolute;
				left: 0;
				bottom:0;
				width: 100%;
				text-align: center;
				a{
					font-size: 16px;
					color:#747474;
				}
			}
		}
		li.xb{
			margin-bottom:60px;
		}
		.icon.on{
			display: none;
		}
		li.hover{
			.icon.on{
				display: block;
			}
			.icon.over{
				display: none;
			}
		}
		.l1{
			.icon.on{
				background-position:0 0;
			}
			.icon.over{
				background-position:-109px 0;
			}
		}
		.l2{
			.icon.on{
				background-position:0 -115px;
			}
			.icon.over{
				background-position:-110px -115px;
			}
		}
		.l3{
			.icon.on{
				background-position:0 -226px;
			}
			.icon.over{
				background-position:-110px -226px ;
			}
		}
		.l4{
			.icon.on{
				background-position:0 -338px;
			}
			.icon.over{
				background-position:-109px -338px;
			}
		}
		.l5{
			.icon.on{
				background-position:0 -450px;
			}
			.icon.over{
				background-position:-110px -450px;
			}
		}
		.l6{
			.icon.on{
				background-position:0 -564px;
			}
			.icon.over{
				background-position:-110px -564px;
			}
		}
		.l7{
			.icon.on{
				background-position:0 -676px;
			}
			.icon.over{
				background-position:-110px -676px;
			}
		}
		.l8{
			.icon.on{
				background-position:0 -788px;
			}
			.icon.over{
				background-position:-110px -788px; 
			}
		}
		.l9{
			.icon.on{
				background-position:0 -900px;
			}
			.icon.over{
				background-position:-110px -900px;
			}
		}
		.l0{
			.icon.on{
				background-position:0 -1011px;
			}
			.icon.over{
				background-position:-110px -1011px;
			}
		}
	}
	.contact{
		padding-top:50px;
		padding-left:97px;
		li{
			float: left;
			width: 310px;
			height: 372px;
			.top{
				color:#fff;
				height: 50px;
				line-height: 50px;
				text-align:center;
				font-size: 16px;
				font-weight: normal;
			}
			.lisl{
				padding-bottom:53px;
				.tx{
					margin:43px auto 30px auto;
					height: 120px;
					width: 120px;
					background-image:url(../../../img/help-center.png);
				}
				p{
					text-align: center;
					color:#747474;
				}
			}
			a{
				height: 32px;
				width: 108px;
				border:1px solid #cccccc;
				border-radius:4px;
				text-align: center;
				display: block;
				margin: 0 auto;
				line-height: 32px;
				color:#747474;
			}
			.bottom{
				padding-bottom: 29px;
				border:1px solid #d8d8d8;
			}
		}
		.l1{
			.top{
				background:#e2383a;
			}
			.tx{
				background-position:0 -1127px;
			}
			a:hover{
				border-color:#e2383a;
				color:#e2383a;
			}
		}
		.l2{
			margin: 0 45px;
			.top{
				background:#f49a44;
			}
			.tx{
				background-position:-130px -1127px;
			}
			a:hover{
				border-color:#f49a44;
				color:#f49a44;
			}
		}
		.l3{
			.top{
				background:#21ba9b;
			}
			.tx{
				background-position:-263px -1127px;
			}
			a:hover{
				border-color:#21ba9b;
				color:#21ba9b;
			}
		}
	}
}


//服务中心-产品续费
#serviceCentter-renewal{
	.left{
		.l2{
			a{
				background:#f3f3f3;
				color:#f58464;
			}
		}
	}
	.contents{
		.title{
			line-height: 54px;
			color:#717171;
			font-size: 14px;
		}
		ul{
			@include nofloat;
			padding:30px 0;
			width: 820px;
		}
		li{
			width: 398px;
			height: 148px;
			border:1px solid #e6e6e6;
			position:relative;
			a{
				width: 120px;
				height: 30px;
				background:#ffa031;
				color:#fff;
				font-size: 12px;
				position:absolute;
				right:26px;
				bottom:21px;
				text-align: center;
				line-height: 30px;
				display: block;
				border-radius:4px;
			}
			p{
				padding:20px 23px;
				color:#717171;
				line-height: 25px;
			}
		}
		.bottom{
			height: 198px;
			width: 820px;
			border:1px solid #e6e6e6;
			position:relative;
			a{
				display: block;
				padding-left:77px;
				line-height: 25px;
				color:#717171;
			}
			h2{
				padding:28px 0 20px 77px;
				font-size: 16px;
				color:#1296db;
			}
			img{
				position:absolute;
				left: 478px ;
				top: 16px;
			}
		}
	}
}
//服务中心-付款方式
#serviceCentter-payment{
	.left{
		.l3{
			a{
				background:#f3f3f3;
				color:#f49a44;
			}
		}
	}
	.contents{
		padding-top:16px;
	}
	.top{
		border:1px solid #fffac7;
		padding-left:36px;
		background:#fffef2;
		padding-bottom:25px;
		h2{
			position:relative;
			padding-top: 20px;
			line-height: 24px;
			font-size: 16px;
			color:#1296db;
			padding-left:35px;
			.icon{
				background-image:url(../../../img/serviceCentter-payment.png);
				width: 24px;
				height: 24px;
				position:absolute;
				left: 0;
				bottom:0;
			}
		}
		ul{
			margin-top: 10px;
		}
		li{
			position:relative;
			line-height: 25px;
			padding-left: 82px;
			p,span{
				line-height: 25px;
			}
			p{
				color:#717171;
			}
			span{
				position:absolute;
				left: 0;
				top:0;
				color:#e2383a;
			}
		}
	}
	.bottom{
		li{
			padding-top:25px;
			h3{
				color:#1296db;
				padding-bottom:20px;
				font-weight:700;
			}
			.img{
				background-image:url(../../../img/serviceCentter-payment.png);
			}
			p,span{
				color:#717171;
			}
		}
		.r1{
			.img{
				background-position:0 -30px;
				width: 469px;
				height: 64px;
				margin-top: 20px;
			}
		}
		.r2{
			position:relative;
			.img{
				background-position: 0 -107px;
				width: 243px;
				height: 77px;
			}
			span{
				position:absolute;
			}
			.khyh{
				left: 304px;
				top:88px;
			}
			.khmc{
				left: 534px;
				top:88px;
			}
			.khzh{
				left: 304px;
				top: 113px;
			}
		}
		.r3,.r4{
			p{
				padding-bottom:10px;
			}
		}
		.r4{
			.img{
				margin-top: 20px;
				background-position:0 -199px;
				width: 484px;
				height: 300px;
			}
		}
	}
}

#serviceCentter-contact{
	.left{
		.l5{
			a{
				background:#f3f3f3;
				color:#92a4a4;
			}
		}
	}
	.right{
		.contents{
			padding-top:20px;
			.r1{
				background:#fff;
				padding-bottom: 40px;
				@include nofloat;
				li{
					width: 190px;
					height: 290px;
					margin-right: 10px;
					padding:0 20px;
					float: left;
					.imgicon{
						height: 77px;
						padding-top:33px;
						.icon{
							background-image:url(../../../img/serviceCentter-contact.png);
							margin: 0 auto;
							display: block;
						}
					}
					h3{
						text-align: center;
						font-size: 16px;
						padding-bottom:13px;
						font-weight: 400;
					}
					p{
						color:#666;
						line-height: 20px;
						font-size: 12px;
					}
					.button{
						position: absolute;
						bottom:20px;
						width: 100%;
						left: 0;
					}
					a{
						margin: 0 auto;
						font-size: 12px;
						display: block;
						width: 74px;
						height: 30px;
						border-radius:4px;
						color: #fff;
						padding-left:26px;
						line-height: 30px;
						text-align: center;
						position:relative;
						.icon{
							background-image:url(../../../img/serviceCentter-contact.png);
							width: 16px;
							height: 14px;
							display: block;
							position: absolute;
							top:8px;
							left: 10px;
						}
					}
				}
				.r11{
					background:#ebf3da;
					.icon{
						height: 59px;
						width: 59px;
					}
					h3{
						color:#9ac047;
					}
					.phone{
						padding-top: 5px;
					}

				}
				.r12{
					background:#ddf2f4;
					position: relative;
					.icon{
						height: 60px;
						width: 60px;
						background-position:0 -64px;
					}
					h3{
						color:#13a5b2;
					}
					a{
						background:#13a5b3;
						.icon{
							background-position:0 -262px;
							width: 16px;
							height: 14px;
						}
					}
				}
				.r13{
					background:#f9e0e0;
					position:relative;
					.icon{
						width: 63px;
						height: 50px;
						background-position: 0 -134px;
					}
					h3{
						color:#e06363;
					}
					a{
						background:#e06363;
						.icon{
							background-position:-22px -260px;
							height: 17px;
							width: 14px;
						}
					}
					.phone{
						padding-bottom: 5px;
					}
					p{
						text-align: center;
					}
				}	
				.r14{
					margin: 0;
					background: #d5ecf9;
					.icon{
						width: 60px;
						height: 58px;
						background-position: 0 -194px;
					}
					h3{
						color:#1593dc;
					}
					p{
						text-align: center;
					}
					.phone{
						padding-bottom:3px;
					}
				}
			}
			.r2{
				padding-left:30px ;
				h3{
					line-height: 50px;
					padding-left:70px;
					position:relative;
					font-size: 16px;
					font-weight: 400;
					color:#1b96de;
					.icon{
						position:absolute;
						background-image:url(../../../img/serviceCentter-contact.png);
						background-position:0 -317px;
						width: 50px;
						height: 50px;
						left: 0;
						right:0;
					}
				}
				.r2content{
					padding:23px 0 0 70px;
					.r2lis{
						height: 44px;
						position: relative;
						padding-left:32px;
						a{
							color:#1b96de;
							text-decoration: underline;
							padding-right:42px;
						}
						span{
							padding-right: 22px;
							color:#666666;
						}
						a,span{
							padding-top: 9px;
						}
						.icon{
							position:absolute;
							width: 24px;
							height: 23px;
							left: 0;
							top:0;
							background-image:url(../../../img/serviceCentter-contact.png);
							background-position:0 -285px;
						}
					}
					.r2bottom{
						padding-left:26px;
						position:relative;
						color:#666;
					}
					.icon{
						position:absolute;
						width: 18px;
						height: 18px;
						background-image:url(../../../img/serviceCentter-contact.png);
						background-position:-26px -285px;
						top:0 ;
						left: 0;
					}
				}
			}
			.r3{
				background:#fff;
				padding:40px 0;
				@include nofloat;
				overflow: hidden;
				li{
					width: 33.3333333%;
					float: left;
					h3{
						*margin-bottom:20px;
						span{
							padding-left:70px;
							position:relative;
							font-size: 16px;
						}
						line-height: 50px;
						text-align:center;
						padding-bottom:20px;
						.icon{
							left: 0;
							position: absolute;
							width: 50px;
							height: 50px;
							background-image:url(../../../img/serviceCentter-contact.png);
						}
					}
					p{
						text-align: center;
						line-height: 20px;
					}
				}
				.r31{
					h3{
						span{
							color:#dc5f5c;
						}
						.icon{
							background-position:0 -383px;
						}
					}
				}
				.r32{
					h3{
						span{
							color:#45a6de;
						}
						.icon{
							background-position:0 -436px;
						}
					}
				}
				.r33{
					h3{
						span{
							color:#a8ca5e;
						}
						.icon{
							background-position:0 -493px;
						}
					}
				}
			}
			.r4{
				padding-left:25px;
				h3{
					padding-left:68px;
					line-height: 50px;
					height: 50px;
					position: relative;
					color:#13a5b3;
					font-size: 16px;
					padding-bottom:18px;
					.icon{
						position: absolute;
						left: 0;
						top:0;
						background-image:url(../../../img/serviceCentter-contact.png);
						background-position:0 -551px;
						width: 50px;
						height: 50px;
					}
				}
				p{
					padding-bottom:10px;
				}
			}
		}
	}
}

//服务中心相关下载
#serviceCentter-download{
	.left{
		.l4{
			a{
				background:#f3f3f3;
				color:#21ba9b;
			}
		}
	}
	.right{
		.contents{
			border-left:1px solid #eee;
			border-top: 1px solid #eee;
			ul{
				@include nofloat;
			}
			h2,li{
				padding-left:40px;
				border-right: 1px solid #eee;
				border-bottom:1px solid #eee;
			}
			h2{
				line-height: 48px;
				background:#f5f9fa;
				font-weight: 400;
				font-size: 16px;
			}
			li{
				line-height: 40px;
				font-size: 14px;
				width: 434px;
				height: 40px;
			}
			h2,li,a{
				color:#717171;
			}
		}
	}
}
//相关条款
#serviceCentter-terms{
	.left{
		.l6{
			a{
				color:#23b0cb;
				background:#f3f3f3;
			}
		}
	}
	.contents{
		padding-top:20px;
		p{
			line-height: 20px;
			font-size: 12px;
		}
		.mt{
			padding-top:25px;
		}
	}
}
//服务中心价格预览
#serviceCentter-price{
	.left{
		.l1{
			a{
				background:#f3f3f3;
				color:#ed5351;
			}
		}
	}
	.right{
		.bread-crumbs{
			border:0;
			padding-bottom:1px;
		}
		.top{
			padding-bottom:40px;
			ul{
				@include nofloat;
				overflow: hidden;
			}
			li{
				border-top:1px solid #e8e8e8;
				border-bottom:1px solid #e8e8e8;
				background:#f2f2f2;
				text-align: center;
				line-height: 59px;
				float: left;
				width: 25%;
				font-size: 16px; 
				color:#717171;
				cursor: pointer;
				*width:24%;
			}
			.now{
				border-color:#e2383a;
				background:#e2383a;
				color: #fff;
			}
		}
		.bottom{
			.title{
				background:#f5f9fa;
				border-top:1px solid #eee;
				border-bottom:1px solid #eee;
				line-height: 48px;
				font-weight: 400;
				span{
					color:#717171;
					font-size: 16px;
				}
				.xhb{
					padding-left:35px;
				}
				.mcb{
					padding-left:135px;
				}
				.jgb{
					padding-left:316px;
				}
			}
			ul{
				li{
					@include nofloat;
					span{
						float:left;
						height: 30px;
						line-height: 30px;
						text-align: center;
						color:#717171;
						font-size: 12px;
					}
					.jg{
						width: 12%;
					}
					.xh{
						width: 10%;
					}
					.mc{
						width: 30%;
					}
				}
				.color{
					background:#f2f2f2;
				}
			}
		}
	}
}
//违规举报
#serviceCentter-report{
	.left{
		.l7{
			a{
				color:#8e8fbd;
				background:#f3f3f3;
			}
		}
	}
	.contents{
		padding-top:20px;
		h2{
			color:#1296db;
			font-weight: 550;
			padding-bottom: 15px;
		}
		h3{
			padding-bottom: 7px;
			color:#444444;
			line-height: 25px;
			font-weight: 600;
			font-size:16px;
		}
		p{
			line-height: 20px;
			font-size: 12px;
		}
		.mt{
			padding-top:15px;
		}
	}
}

//注册商服务
#serviceCentter-registrar{
	.left{
		.f8{
			a{
				background:#f3f3f3;
				color:#e6bf4f;
			}
		}
	}
	.contents{
		padding-top:20px;
		h2{
			color:#1296db;
			font-weight:550;
			padding-bottom:15px; 
		}
		p{
			line-height: 20px;
			word-break:break-all;
			font-size: 12px; 
			color:#444;
		}
	}
}

//帮助中心-关于我们
#helpCenter-aboutme{
	h2{
		font-size: 30px;
		font-weight: 400;
		line-height: 74px;
		height: 68px;
		text-align: center;
		position:relative;
		padding-bottom:50px;
		.line{
			height: 4px;
			width: 60px;
			background:#e2383a;
			position:absolute;
			left: 50%;
			margin-left: -30px;
			bottom:50px;
		}
	}
	.floor{
		padding-bottom: 30px;
	}
	.l1{
		.right{
			position: absolute;
			top:0;
			right:0;
			height: 510px;
			width: 640px;
			background:#000;
		}
		.content{
			position: relative;
			padding: 55px 0;
		}
		.left{
			width: 560px;
			height: 398px;
			border:1px solid #c4c4c4;
			position: relative;
			h3{
				height: 70px;
				line-height: 70px;
				color:#333;
				font-size: 24px;
				padding-left:40px;
				padding-top:10px;
				font-weight: 400;
			}
			p{
				padding:0 40px;
				line-height: 25px;
				color:#494949;
				text-indent: 2em;
				margin-bottom: 10px;
			}
			.button{
				width: 91px;
				height: 28px;
				border:1px solid #c4c4c4;
				padding-right:7px;
				position:absolute;
				bottom:30px;
				right: 57px;
				text-align:center;
				line-height: 28px;
				border-radius:4px;
				a{
					display: block;
					color:#717171;
					height: 100%;
					width: 100%;
					position: relative;
				}
				.icon{
					background-image:url(../../../img/helpCenter-aboutmeIcon.png);
					background-position:0 -650px;
					width: 10px;
					height: 9px;
					position: absolute;
					top: 10px;
					right: 3px;
				}
			}
		}
	}
	.l2{
		ul{
			overflow: hidden;
			li{
				float:left;
				width: 50%;
				position: relative;
				*width:50%;
				height: 150px;
				padding-bottom:78px;
				.icon{
					background-image:url(../../../img/helpCenter-aboutmeIcon.png);
					position:absolute;
					width: 150px;
					height: 150px;
					top:0;
					left: 63px;
				}
				h3{
					font-size: 24px;
					font-weight: normal;
					padding:36px 0 10px 282px; 
				}
				p{
					padding-left:282px;
					font-size: 16px;
					height: 30px;
					line-height: 30px;
				}
			}
			.l21{
				.icon{
					background-position:0 0;
				}
				h3,p{
					color:#c79000;
				}
			}
			.l22{
				.icon{
					background-position:0 -156px;
				}
				h3,p{
					color:#324d5b;
				}
			}
			.l23{
				.icon{
					background-position:0 -315px;
				}
				h3,p{
					color:#29907e;
				}
			}
			.l24{
				.icon{
					background-position:0 -468px;
				}
				h3,p{
					color:#bb4137;
				}
			}
		}
	}
	.l3{
		.jdlb{
			position:relative;
			.icon{
				position:absolute;
				top:0;
				bottom:0;
				margin: auto;
				width: 26px;
				height: 44px;
				background-image: url(../../../img/helpCenter-aboutmeIcon.png);
				cursor: pointer;
				display: none;
			}
			.move{
				background-position:0 -730px;
				right:0;
			}
			.back{
				background-position:0 -670px;
				left: 0;
			}
			.jdlbl{
				width: 1040px;
				margin: 0 auto;
				position: relative;
				height: 310px;
				overflow: hidden;
				ul{
					overflow: hidden;
					position:absolute;
					li{
						float: left;
						margin-right: 40px;
						background:#919191;
						padding:5px;
						width: 220px;
						img{
							margin: 0 auto;
						}
						p{
							text-align: center;
							color:#fff;
							padding-bottom: 6px;
						}
					}
				}
			}
		}
	}
	.l4{
		.jdlb{
			width: 100%;
			overflow: hidden;
			position:relative;
			height: 150px;
		}
		ul{
			overflow: hidden;
			position:absolute;
			li{
				float: left;
				width: 378px;
				height: 144px;
				margin-right: 20px;
				border:1px solid #919191;
				border-top:5px solid #e2383a;
				h3{
					padding:15px 0 10px 20px;
					font-size: 18px;
					color: #333;
					font-weight: normal;
				}
				p{
					padding-bottom:8px;
					color:#717171;
					padding-left:20px;
					padding-right:20px;
					word-break: break-all;
					line-height: 25px;
					text-indent: 2em;
				}
			}
		}
	}
	.l5{
		.content{
			overflow: hidden;
			.img{
				float: left;
				width: 50%;
			}
			.right{
				float: left;
				width: 50%;
				*width:49%;
				position:relative;
				.line{
					position: absolute;
					top: 0;
					left: 63px;
					width: 1px;
					height: 100px;
					background:#c2c2c2;
					z-index: 0;
				}
				ul{
					padding-left:40px;
				}
				li{
					padding-left:63px;
					position:relative;
					z-index: 1;
					cursor: pointer;
					margin-bottom: 30px;
					.liscontent{
						*margin-top:-23px;
					}
					.click{
						position:absolute;
						width: 46px;
						height: 46px;
						text-align: center;
						line-height: 46px;
						color: #919191;
						font-size: 16px;
						left: 0;
						top:0;
						background-image: url(../../../img/helpCenter-aboutmeIcon.png);
						background-position:-48px -726px; 
					}
					h3{
						font-size: 18px;
						color: #333;
						font-weight: normal;
						height: 46px;
						line-height: 46px;
					}
					p{
						color:#717171;
						line-height: 25px;
						height: 25px;
					}
				}
				li.now{
					.click{
						background-position:-47px -667px; 
						color: #fff;
					}
				}
			}
		}
	}
}

//新闻资讯-资讯详情
#news-details{
	padding-top:0;
	.title-top{
		overflow: hidden;
		border-bottom:1px solid #ebebeb;
		h2{
			float: left;
			width: 25%;
			height: 97px;
			line-height: 97px;
			text-align: center;
			span{
				font-size: 18px;
				font-weight: 400;
				cursor: pointer;
			}
		}
		.now{
			span{
				color:#1296db;
			}
		}
	}
	.bread-crumbs{
		border:0;
		height: 72px;
		line-height: 72px;
	}
	.content{
		.title{
			text-align: center;
			font-size: 22px;
			line-height: 50px;
			height:50px;
			color:#444;
			font-weight: 400;
		}
		.discribe{
			height: 45px;
			line-height: 45px;
			text-align: center;
			span{
				color:#717171;
				font-size: 16px;
				margin-right: 25px;
			}
			.icon-box{
				display: inline-block;
				height: 100%;
				overflow: hidden;
				position:absolute;
				top:0;
				right: 0;
				*right:300px;
			}
			.font-box{
				height: 100%;
				display: inline-block;
				line-height: 45px;
				position: relative;
				padding-right:102px;
			}
			.icon{
				float: left;
				background-image:url(../../../img/news-icon.png);
				width: 24px;
				height: 24px;
				cursor: pointer;
				margin-right:10px;
				margin-top: 10px;
			}
			.wx{
				background-position:0 0;
			}
			.ll{
				background-position:-34px 0;
			}
			.xl{
				background-position:-68px 0;
			}
		}
		.article{
			margin-top: 30px;
			p{
				text-indent: 2em;
				margin-bottom: 20px;
				color: #444;
				line-height: 25px;
			}
		}
	}
}

//新闻资讯
#news{
	padding-top:0;
	.title-top{
		overflow: hidden;
		border-bottom:2px solid #ebebeb;
		h2{
			float: left;
			width: 25%;
			height: 97px;
			text-align: center;
			line-height: 97px;
			*width:24%;
			span{
				font-size: 18px;
				color:#444;
				font-weight:400;
				cursor: pointer;
			}
		}
		.now{
			span{
				color:#1296db;
			}
		}
	}
	.content{
		li{
			padding-left:522px;
			padding-top:40px;
			position: relative;
			border-bottom:1px solid #ebebeb;
			height: 200px;
			padding-bottom:40px;
			.time{
				position: absolute;
				width: 184px;
				height: 100%;
				left: 0;
				top:40px;
				h2{
					height: 100px;
					width: 110px;
					margin: 0 auto;
					border-bottom: 4px solid #ebebeb;
					text-align: center;
					line-height: 100px;
					font-size: 50px;
					color:#afafaf;
				}
				p{
					margin-top: 16px;
					text-align: center;
					color:#bfbfbf;
					font-size: 16px;
				}
			}
			.img{
				position: absolute;
				left: 184px;
				top:40px;
			}
			.article{
				.title{
					font-size: 18px;
					color:#1296db;
					height: 50px;
					line-height: 50px;
					padding-bottom:5px;
					font-weight: 400;
				}
				p{
					text-indent: 2em;
					color:#999;
					line-height: 25px;
				}
				.link{
					position:absolute;
					bottom:40px;
					right: 83px;
					height: 33px;
					width: 113px;
					border:1px solid #c9c9c9;
					border-radius:4px;
					a{
						display: block;
						height: 100%;
						text-align: center;
						line-height: 33px;
						color:#999;
						padding-right:20px;
						.icon{
							background-image: url(../../../img/news-rowicon.png);
						    background-position: 0 0;
						    width: 11px;
						    height: 9px;
						    position: absolute;
						    top: 13px;
						    right: 20px;
						}
					}
				}
			}
		}
		.ys{
			margin-top: 60px;
				a:hover{
				background:#1296db;
				border-color:#1296db;
				color:#fff;
			}
			.now{
				color:#fff;
				background:#1296db;
				border-color:#1296db;
			}
		}
	}
}
